#footer-section {
  color: var(--white-70);
  position: relative;
}

#footer-section h2 {
  color: var(--white);
}

#footer-divider {
  position: absolute;
  top: -30px;
  z-index: 2;
  width: 100%;
}

#footer-background {
  background-color: var(--black-info);
  background-image: url("../../assets/images/background-texture.png");
  background-repeat: repeat;
  background-blend-mode: multiply;
}

#footer-divider > img {
  width: 100%;
}

#footer-container {
  display: flex;
  flex-direction: column;
  padding: 10rem 2rem 0rem 2rem;
}

#footer-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 5rem;
  gap: 0.5rem;
}

#footer-text button {
  background: none;
  padding: 1rem;
  border: none;
  transition: background-color 0.5s ease;
}

#footer-text a {
  color: var(--white);
  text-decoration: none;
  font-family: "PPNeueMachina";
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1px;
}

#footer-text button:hover {
  background-color: var(--black-70);
}

#footer-logos {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  border-bottom: 3px dotted var(--white-70);
}

#footer-logos a {
  position: relative;
  width: 10rem;
  top: 2rem;
  transition: top 0.5s ease;
}

#footer-logos a:hover {
  top: 1rem;
}

#footer-logos img {
  width: 100%;
}

#footer-logos a:first-of-type {
  top: 0;
}

#footer-logos a:first-of-type:hover {
  top: -1rem;
}

#footer-logos a:nth-of-type(3) {
  top: -1rem;
}

#footer-logos a:nth-of-type(3):hover {
  top: -2rem;
}

#footer-container p {
  text-transform: uppercase;
}

#footer-note {
  display: flex;
  justify-content: space-between;
  padding: 4rem 1rem;
}

@media (max-width: 1024px) {
  #footer-container p {
    font-size: 14px;
    text-align: center;
  }
  #footer-note {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
    gap: 2rem;
  }
  #footer-divider {
    top: -20px;
  }
}

@media (max-width: 768px) {
  #footer-container h2 {
    font-size: 64px;
    padding: 0 1rem;
  }
  #footer-container {
    padding: 10rem 0 0 0;
  }
  #footer-divider {
    top: -10px;
  }
  #footer-logos {
    gap: 0;
  }
  #footer-logos a {
    width: 25%;
  }
  #footer-logos img:first-of-type {
    top: -1rem;
  }
  #footer-logos img:nth-of-type(3) {
    top: -2rem;
  }
}
