.lectures-photo {
  background-image: url("../../assets/images/predavanjaPerson.webp");
  background-size: cover;
  background-position: center;
  height: 1500px;
  width: 100%;
  padding-top: 30rem;
}

.lectures-list {
  padding-top: 52px;
  width: 100%;
  position: relative;
}

.section-divider {
  position: absolute;
  top: -20px;
  width: 100%;
}

.section-divider img {
  width: 100%;
}

.lectures-navigation {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-family: "PPNeueMontrealMono";
}

#fridayDate,
#allFilter {
  color: var(--red);
  border-bottom: 3px solid var(--red);
}

.lectures-navigation p {
  padding: 1rem 1.5rem;
}

.dates-wrapper {
  display: flex;
  column-gap: 8px;
}

.fields-filters {
  display: flex;
  column-gap: 8px;
}

.all-lectures {
  margin-top: 6.125rem;
}

.all-lectures > * {
  border-bottom: 2px dotted var(--black-30);
}

.single-lecture {
  padding: 35px 105px 42px 77px;
  position: relative;
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.25fr;
  cursor: pointer;
  opacity: 0;
  animation: slideLeft ease-out forwards;
  animation-timeline: view();
  animation-range: entry 100% cover 50%;
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.single-lecture:hover > .photo-on-hover {
  visibility: visible;
  opacity: 1;
}

.single-lecture .time .time-wrapper p:nth-child(2) {
  color: var(--black-60);
  text-transform: uppercase;
}

.time-wrapper {
  display: inline-block;
  font-family: "PPNeueMontrealMono";
  color: var(--black-info);
  text-align: right;
}

.photo-on-hover {
  display: hidden;
  position: absolute;
  opacity: 0;
  right: 220px;
  top: 0;
  transition: opacity 0.5s ease;
}

.field-icon {
  width: auto;
  height: 24px;
  border-radius: 50%;
  background-color: var(--red);
  color: var(--white);
  text-align: center;
  padding: 6px 10px;
}

.plus-icon {
  text-align: right;
}

.lecturer,
.time p:nth-child(2) {
  margin-top: 8px;
}

.question-icon-wrapper {
  display: flex;
  align-items: center;
}

.question {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -1%;
  margin-left: 16px;
}

.lecture-description {
  text-align: left;
}

.lecturer {
  text-transform: uppercase;
  font-family: "PPNeueMontrealMono";
  color: var(--black-60);
}

#lectures {
  padding-bottom: 100px;
}

@media (max-width: 1024px) {
  .single-lecture {
    padding: 35px 0px 42px 0px;
  }
  .single-lecture:hover > .photo-on-hover {
    display: none;
  }
}

@media (max-width: 768px) {
  .single-lecture {
    grid-template-columns: 1fr;
  }
  .all-lectures {
    margin-top: 56px;
  }
  .dates-wrapper {
    column-gap: 16px;
    justify-content: center;
    width: 100%;
  }

  .fields-filters {
    display: none;
  }
  .plus-icon {
    display: none;
  }

  .time {
    grid-area: 1/1/1/-1;
  }

  .question {
    margin-left: 8px;
    font-size: 16px;
  }

  .question-icon-wrapper {
    align-items: start;
  }

  .lecturer {
    margin-left: 60px;
  }

  .time .time-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  .time p:nth-child(2) {
    margin-top: 0;
  }

  .time p:nth-child(2)::before {
    content: "/  ";
  }

  .section-divider {
    top: -10px;
  }

  .lectures-photo {
    height: 100vh;
    padding-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
