:root {
  --white: #ffffff;
  --white-second: #eaeaea;
  --white-70: #ffffffb2;

  --black: #121212;
  --black-70: #171615b2;
  --black-60: #17161599;
  --black-30: #1716154d;
  --black-info: #171615;

  --red: #ff482f;

  --background: #f5ede1;
}
