* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  font-family: "PPNeueMachina";
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1px;
}

.container {
  width: 100%;
  padding-inline: 2rem;
}

section {
  position: relative;
}

h2 {
  font-size: 120px; /*stavio sam 80px jer mi se 120px cini preveliko*/
  line-height: 90px;
  font-weight: 500;
  letter-spacing: -5px;
  text-transform: uppercase;
  text-align: center;
  color: var(--white-second);
}
button {
  font-family: "PPNeueMontrealMono";
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 1px;
  cursor: pointer;
}

@media (max-width: 1024px) {
  h2 {
    font-size: 80px;
    letter-spacing: -3px;
  }
}

@media (max-width: 768px) {
  .container {
    padding-inline: 1rem;
  }

  h2 {
    font-size: 48px;
    font-weight: 500;
    line-height: 80px;
    letter-spacing: -3px;
    text-align: center;
  }
}
